{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block hero_content %}
<!-- empty block: overrides base block, so nothing shows -->
{% endblock %}

{% block content %}

<div class="page-wrapper">
  <div class="logged-info">
    {% if user.is_authenticated %}
    <p class="text-end m-3">You are logged in as {{ user }}</p>
    {% else %}
    <p class="text-end m-3">You are not logged in</p>
    {% endif %}
  </div>

  <div class="account-page">
    <div class="account-h1">
      <h1>{% trans "Sign Out" %}</h1>
    </div>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</div>


{% endblock content %}